/src/Sales/InventoryMangementSystem/build/
/src/Sales/InventoryMangementSystem/dist/
/src/Sales/InventoryMangementSystem/nbproject/private/
/src/InventoryMangementSystem/build/
/src/InventoryMangementSystem/dist/
/src/InventoryMangementSystem/nbproject/private/
/dist/